<section id="contact">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Contactati-ne!</h2>
        <p class="lead">
          Pentru informatii suplimentare, sugestii, reclamatii sau estimarea
          preturilor, nu ezitati sa ne contactati!
        </p>
        <ul>
          <li>
            Email: noucunoi&#64;yahoo.com <i class="fa-solid fa-envelope"></i>
          </li>
          <li>Telefon: +40 753 556 032 <i class="fa-solid fa-phone"></i></li>
          <li>Facebook: <i class="fa-brands fa-facebook"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4">
    <p class="m-0 text-center text-white">
      Copyright &copy; www.noucunoi.ro 2024 | All Rights Reserved
    </p>
  </div>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
  <a
    href="https://api.whatsapp.com/send?phone=+40753556032&text=Salut!"
    class="float"
    target="_blank"
    title="Sa ne cunoastem!"
  >
    <i class="fa fa-whatsapp my-float"></i>
  </a>
</footer>
