<section id="contact">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Contactați-ne!</h2>
        <p class="lead">
          Pentru informații suplimentare, sugestii, reclamații sau estimarea
          prețurilor, nu ezitați să ne contactați!
        </p>
        <ul>
          <li>
            Email: noucunoi&#64;yahoo.com <i class="fa-solid fa-envelope"></i>
          </li>
          <li>Telefon: +40 753 556 032 <i class="fa-solid fa-phone"></i></li>
          <!--<li>Facebook: <i class="fa-brands fa-facebook"></i></li>-->
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4">
    <p class="m-0 text-center text-white">
      Copyright &copy; www.noucunoi.ro 2024 | Toate drepturile rezervate.
    </p>
    <p class="m-0 text-center text-white">
      Acest site respectă legislația în vigoare din România. Pentru mai multe informații despre drepturile dvs. în calitate de consumator,
      puteți vizita <a href="https://www.anpc.ro" target="_blank" style="color: #ffffff;">ANPC</a> (Autoritatea Națională pentru Protecția Consumatorilor).
      De asemenea, pentru soluționarea litigiilor, aveți posibilitatea de a utiliza platforma SOL (Soluționarea Online a Litigiilor) disponibilă 
      <a href="https://ec.europa.eu/consumers/odr" target="_blank" style="color: #ffffff;">aici</a>.
    </p>
  </div>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
  <a
    href="https://api.whatsapp.com/send?phone=+40753556032&text=Salut!"
    class="float"
    target="_blank"
    title="Să ne cunoaștem!"
  >
    <i class="fa fa-whatsapp my-float"></i>
  </a>
</footer>
