<section id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Despre noi</h2>

        <p class="lead">
          <b>NOI NU SUNTEM PERFECTI...</b> Cand spui ca esti perfect intr-un
          domeniu spui ca nu mai exista loc de imbunatatire, ceea ce este o mare
          greseala! Noi admitem ca nu suntem perfecti, asadar personalul nostru
          este zilnic in cautare de noi detergenti, solutii si unelte care sa ii
          ofere un randament maxim, facilitandu-i munca si totodata salvand
          timpul clientului.
        </p>
        <ul>
          <li>
            Produsele folosite provin atat din Romania cat si din afara tarii,
            iar cel mai important aspect este ca sunt alese astfel incat sa fie
            <b>acreditate ca nu declanseaza alergii si reactii adverse</b>
            oamenilor sau animalelor. De aceea este foarte important pentru noi
            sa stim, inca de la primul contact telefonic, daca sunt cunoscute
            alergii in familie sau chiar si la animalutele de companie.
          </li>
          <li>
            Ca veni vorba, firma noastra nu percepe taxe suplimentare daca in
            locuinta convietuiesc si indragitele animale de companie, ba din
            contra, daca ne este permis vom rasplati cumintenia lor prin mici
            recompense, pentru a crea o relatie buna intre personalul nostru si
            patruped.
          </li>
          <li>
            Ne ocupam noi si de curatarea litierelor si a coliviilor, trebuie
            doar sa ne prezentati acest aspect de la inceput, pentru a ne
            asigura ca nu ne poate lua nimic prin surprindere.
          </li>
          <li>
            Orice curatenie e bine-venita! Stim ca si personalul poate face o
            curatenie buna in spatiul unde isi desfasoara activitatea, dar ce nu
            multi administratori iau in calcul este posibilitatea de a fi
            amendati pentru nerespectarea unor reguli si norme de baza in ceea
            ce priveste o curatare corespunzatoare si profesionala a bucatariei
            spre exemplu. Asadar, lasati, dragi administratori, timpul
            personalului sa fie ocupat cu activitati profitabile pentru afacerea
            dumneavoastra si lasati curatenia pe mana noastra!
          </li>
          <li>
            Utilizam solutii de inalta calitate destinate fiecarei suprafete,
            pentru a nu deteriora sau a pierde luciul pieselor dumneavoastra!
            Pentru a sustine afacerea dumneavoastra, noi am marit echipa, prin
            urmare <b>LUCRAM SI PE TIMP DE NOAPTE</b>, cand probabil bucataria
            dumneavoastra este inchisa, urmand ca la prima ora cand personalul
            intra in bucatarie sa poata intra in paine!
          </li>
          <li>
            Pentru a va putea oferi niste beneficii, va recomandam sa optati
            pentru un contract, iar pentru acest lucru nu ezitati sa luati
            legatura cu una dintre colegele noastre!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
