<section id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Despre noi</h2>

        <p class="lead">
          <b>NOI NU SUNTEM PERFECȚI...</b> Când spui că ești perfect într-un
          domeniu, spui că nu mai există loc de îmbunătățire, ceea ce este o mare
          greșeală! Noi admitem că nu suntem perfecți, așadar personalul nostru
          este zilnic în căutare de noi detergenți, soluții și unelte care să îi
          ofere un randament maxim, facilitându-i munca și totodată salvând
          timpul clientului.
        </p>
        <ul>
          <li>
            <b>Produse de Top:</b>
            Utilizăm doar <b>produse de înaltă calitate</b>, 
            provenite atât din România, cât și din străinătate, <b>selectate cu grijă</b> 
            pentru a garanta că nu provoacă alergii sau reacții adverse. 
            De aceea este foarte important pentru noi
            să știm, încă de la primul contact telefonic, dacă sunt cunoscute
            alergii în familie sau chiar și la animăluțele de companie.
          </li>
          <li>
            <b>Fără Taxe Suplimentare pentru Prietenii Necuvântători:</b>
            Înțelegem cât de importante sunt animalele de companie pentru dumneavoastră.
            Astfel că noi NU percepem taxe suplimentare pentru prezența acestora. Mai mult,
            dacă ne este permis, le răsplătim comportamentul, pentru a crea o relație bună 
            între personalul nostru și patruped.
          </li>
          <li>
            <b>Curățenie Completă și Fără Surprize:</b>
            Ne ocupăm noi și de curățarea litierelor și a coliviilor; trebuie
            doar să ne prezentați acest aspect de la început, pentru a ne
            asigura că nu ne poate lua nimic prin surprindere.
          </li>
          <li>
            <b>Optimizarea Timpului:</b>
            <b> Înțelegem că fiecare minut contează!</b> Știm că și personalul poate face o
            curățenie bună în spațiul unde își desfășoară activitatea, dar ce nu
            mulți administratori iau în calcul este posibilitatea de a fi
            amendați pentru nerespectarea unor reguli și norme de bază în ceea
            ce privește o curățare corespunzătoare și profesională a bucătăriei,
            spre exemplu. Așadar, lăsați, dragi administratori, timpul
            personalului să fie ocupat cu activități profitabile pentru afacerea
            dumneavoastră și lăsați curățenia pe mâna noastră!
          </li>
          <li>
            <b>Curățenie de Noapte pentru Flexibilitate:</b>
            Utilizăm soluții de înaltă calitate destinate fiecărei suprafețe,
            pentru a nu deteriora sau a pierde luciul pieselor dumneavoastră!
            Pentru a susține afacerea dumneavoastră, noi am mărit echipa, prin
            urmare <b>LUCRĂM ȘI PE TIMP DE NOAPTE</b>, când probabil bucătăria
            dumneavoastră este închisă, urmând ca la prima oră când personalul
            intră în bucătărie, să poată începe lucrul fără probleme!
          </li>
          <li>
            <b>Beneficii Exclusiviste prin Contract:</b>
            Pentru a beneficia de servicii adaptate nevoilor dumneavoastră și oferte avantajoase, vă recomandăm să optați pentru încheierea unui contract.
            Suntem aici să vă ascultăm și să găsim împreună soluțiile care să vă aducă liniște și confort. 
            Contactați-ne cu încredere – echipa noastră vă stă la dispoziție cu toate detaliile necesare.!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
