<section class="bg-light" id="services">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Servicii oferite</h2>
        <p class="lead">
          Lista principalelor servicii oferite este prezentată mai jos, iar
          pentru orice excepție, detaliile vor fi discutate telefonic.
        </p>
        <h3>De Ce Să Alegi Serviciile Noastre?</h3>
        <ol>
            <li><strong>Curățenie Generală și Întreținere pentru Locuințe:</strong> 
                <p>Menținem casa ta mereu curată și ordonată, ca să te simți cu adevărat acasă.</p>
            </li>
            <li><strong>Curățenie după Renovări sau Șantier:</strong> 
                <p>Îndepărtăm toate urmele de praf și moloz, lăsându-ți spațiul impecabil și pregătit de utilizare.</p>
            </li>
            <li><strong>Curățenie pentru Spații Comerciale și Industriale:</strong> 
                <p>Asigurăm un mediu curat și sigur, astfel încât afacerea ta să prospere.</p>
            </li>
            <li><strong>Curățenie pentru Restaurante și Săli de Evenimente:</strong> 
                <p>Creăm un ambient impecabil, gata să impresioneze orice client sau invitat.</p>
            </li>
            <li><strong>Curățenie Bucătării:</strong> 
                <p>Oferim igienă de top pentru bucătăria ta, asigurând un mediu sigur pentru prepararea alimentelor.</p>
            </li>
            <li><strong>Îngrijire Litiere, Colivii și Cuști:</strong> 
                <p>Ne ocupăm de curățenia și confortul prietenilor tăi necuvântători, ca să fie cei mai fericiți.</p>
            </li>
        </ol>
      </div>
    </div>
  </div>
</section>
