<section class="bg-light" id="services">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Servicii oferite</h2>
        <p class="lead">
          Lista principalelor servicii oferite este prezentata mai jos, iar
          pentru orice exceptie detaliile vor fi discutate telefonic.
        </p>
        <ul>
          <li>Curatenie generala si de intretinere imobile de locuit;</li>
          <li>Curatenie dupa renovare/santier;</li>
          <li>Curatenie spatii comerciale si industriale;</li>
          <li>Curatenie restaurante si sali de evenimente;</li>
          <li>Curatenie bucatarii;</li>
          <li>Curatenie litiere, colivii si custi;</li>
        </ul>
      </div>
    </div>
  </div>
</section>
