<section id="experience">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Experiența noastră în domeniu</h2>
        <p class="lead">
          <strong>7 ani...</strong> Poate părea puțin pentru unii, poate mult pentru alții... Dar pentru noi, acești ani reprezintă o adevărată bucurie. De ce? Pentru că am avut onoarea de a servi sute de clienți care ne-au încredințat o misiune importantă: să facem ca totul să strălucească de curățenie, ca nou. Și am reușit să o facem!
        </p>
        <p class="lead">
          Le mulțumim sincer tuturor celor care au ales serviciile noastre încă de la început și care ne-au ajutat să ne consolidăm poziția pe piață. Iar pentru dumneavoastră, cei care citiți acum acest mesaj, vă invităm să ne cunoaștem. Știm că încrederea se câștigă prin fapte, nu prin cuvinte. Ne dorim să vă demonstrăm de ce suntem capabili și să vă ținem la curent cu evoluția noastră. Haideți să construim împreună un parteneriat bazat pe încredere și calitate!
        </p>
      </div>
    </div>
  </div>
</section>
